.descripciones {
    position: absolute;
    left: 100px;
    bottom: 50px;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #fff;
    opacity: 1
}

.swiper-pagination-bullet {
    background-color: rgba(175, 170, 170, 0.884);
}

@media (max-width: 570px) {
    .descripciones {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        align-items: center;
        bottom: 50;
    }
}

/*.btn-hover {
    transition: all .3s ease-in-out;
}*/

.Flecha {
    shape-rendering: geometricPrecision;
    text-rendering: geometricPrecision;
    image-rendering: optimizeQuality;
    fill-rule: evenodd;
    clip-rule: evenodd
}

a[aria-expanded="true"] svg {
    transform: rotate(180deg);
    translate: 0 0;
}

@media (min-width:600px) {
    .toast {
        left: 50% !important;
    }
}

.nuevos .modal-dialog {
    max-width: 90%;
}


.iti__selected-flag {
    background-color: #dee2e6 !important;
}

.evento {
    cursor: pointer;
}

.seudtres {
    shape-rendering: geometricPrecision;
    text-rendering: geometricPrecision;
    image-rendering: optimizeQuality;
    fill-rule: evenodd;
    clip-rule: evenodd
}

/*
@-webkit-keyframes animate-svg-fill-1 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(242, 242, 242);
    }
}

@keyframes animate-svg-fill-1 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(242, 242, 242);
    }
}

.svg-program-1 {
    -webkit-animation: animate-svg-fill-1 0.7s ease 0.8s both;
    animation: animate-svg-fill-1 0.7s ease 0.8s both;
}

@-webkit-keyframes animate-svg-fill-2 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(242, 242, 242);
    }
}

@keyframes animate-svg-fill-2 {
    0% {
        fill: transparent;
    }

    100% {
        fill: rgb(242, 242, 242);
    }
}

.svg-program-2 {
    -webkit-animation: animate-svg-fill-2 0.7s ease 0.9s both;
    animation: animate-svg-fill-2 0.7s ease 0.9s both;
}

//
#section06 a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
    -webkit-animation: sdb06 1.5s infinite;
    animation: sdb06 1.5s infinite;
    box-sizing: border-box;
}

@-webkit-keyframes sdb06 {
    0% {
        -webkit-transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        -webkit-transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}

@keyframes sdb06 {
    0% {
        transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    1

*/