.dataTables_paginate .page-link {
    border-radius: 0% !important;
}





table.dataTable>tbody>tr.child ul.dtr-details {
    width: 100%;
}


td



tr.child {
    width: 100% !important;
    padding: 0 !important;
}
tr.odd{
    color: black !important;
    background:rgba(255, 252, 252, 0.904) !important;
}

ul.dtr-details {
    width: 100% !important;
}

td.child {
    display: flex !important;
    flex-wrap: wrap !important;
    flex-direction: row !important;
    width: 100% !important;
    padding: 0 !important;
}