 path.none {
   fill: rgb(61, 64, 64);
 }

 polygon.none {
   fill: rgb(61, 64, 64);

 }

 :root {
   --swiper-navigation-color: #000000;
 }

 rect.none {
   fill: rgb(148, 152, 152)
 }

 #grado {
   fill: rgb(148, 152, 152);
   cursor: pointer;
 }

 svg.opciones {
   fill: rgb(61, 64, 64);
 }

 path.opciones {
   fill: rgb(61, 64, 64);
 }

 path.mapas {
   fill: rgb(61, 64, 64);
 }

 @media (min-width: 800px) {
   .precios:hover {
     cursor: pointer;
     transform: scale(1.1);
   }
 }

 .precios {
   cursor: pointer;

   transition: all .2s ease-in-out;

 }

 polygon.disponible:hover {
   /* transform: scale(1.01);
   cursor: pointer;*/
   cursor: pointer;
   /* transform: scale(0.2);*/
   fill-opacity: 70%;
   opacity: 1;
   stroke: rgb(214, 26, 26);
   stroke: #646464;
   stroke-width: 1px;
   stroke-dasharray: 2, 2;
   cursor: pointer;
   stroke-linejoin: round;
 }

 polygon.disponible {
   transition: all .2s ease-in-out;
 }

 rect.disponible:hover {
   /*transform: scale(1.01);
   cursor: pointer;*/
   cursor: pointer;
   /* transform: scale(0.2);*/
   fill-opacity: 70%;
   opacity: 1;
   stroke: rgb(214, 26, 26);
   stroke: #646464;
   stroke-width: 1px;
   stroke-dasharray: 2, 2;
   stroke-linejoin: round;
 }

 rect.disponible {
   transition: all .2s ease-in-out;
 }

 path.disponible:hover {
   /*  cursor: pointer;
   transform: scale(1.0);*/
   cursor: pointer;
   /* transform: scale(0.2);*/

   fill-opacity: 70%;
   opacity: 1;
   stroke: rgb(214, 26, 26);
   stroke: #646464;
   stroke-width: 1px;
   stroke-dasharray: 2, 2;
   stroke-linejoin: round;
 }

 ellipse.disponible {
   transition: all .2s ease-in-out;
 }

 ellipse.disponible:hover {
   cursor: pointer;
   fill-opacity: 70%;
   stroke: rgb(214, 26, 26);
   stroke: #646464;
   stroke-width: 1px;
   stroke-dasharray: 2, 2;
   stroke-linejoin: round;
 }

 path.disponible {
   transition: all .2s ease-in-out;
 }

 .str0 {
   stroke: #E6E7E8;
   stroke-width: 20
 }

 .str1 {
   stroke: #373435;
   stroke-width: 20
 }

 .str2 {
   stroke: #FEFEFE;
   stroke-width: 7.62
 }

 .fil3 {
   fill: #FEFEFE
 }

 .fil0 {
   fill: #E6E7E8
 }

 .fil7 {
   fill: #BDBFC1
 }

 .fil8 {
   fill: #4B4B4D
 }

 .fil1 {
   fill: #373435
 }

 .fil2 {
   fill: #039AB5
 }

 .fil6 {
   fill: #9C9C9C
 }

 .fil5 {
   fill: #A90623
 }

 .fil4 {
   fill: #E6BE28
 }

 .fil9 {
   fill: #FEFEFE;
   fill-rule: nonzero
 }

 .stra1 {
   stroke: #FEFEFE;
   stroke-width: 75
 }

 .stra0 {
   stroke: #96989A;
   stroke-width: 20
 }

 .fila2 {
   fill: #FEFEFE
 }

 .fila10 {
   fill: #E6E7E8
 }

 .fila0 {
   fill: #BDBFC1
 }

 .fila9 {
   fill: #A9ABAE
 }

 .fila1 {
   fill: #96989A
 }

 .fila11 {
   fill: #4B4B4D
 }

 .fila8 {
   fill: #373435
 }

 .fila7 {
   fill: #84716B
 }

 .fila5 {
   fill: #9D98CA
 }

 .fila3 {
   fill: #213858
 }

 .fila4 {
   fill: #4494D3
 }

 .fila6 {
   fill: #4E76B8
 }

 .fila12 {
   fill: #FEFEFE;
   fill-rule: nonzero
 }

 .fila13 {
   fill: rgba(72, 136, 123, 255);
   fill-rule: nonzero;
 }


 .mapanuevo {
   shape-rendering: geometricPrecision;
   text-rendering: geometricPrecision;
   image-rendering: optimizeQuality;
   fill-rule: evenodd;
   clip-rule: evenodd;
 }

 .seudtres {
   shape-rendering: geometricPrecision;
   text-rendering: geometricPrecision;
   image-rendering: optimizeQuality;
   fill-rule: evenodd;
   clip-rule: evenodd
 }

 .path2 {
   fill: #363435
 }

 .path0 {
   fill: #363435;
   fill-rule: nonzero
 }

 .path3 {
   fill: black;
   fill-rule: nonzero
 }

 .path3 {
   fill: black;
   fill-rule: nonzero
 }

 .machr1 {
   stroke: #E6E7E8;
   stroke-width: 20
 }

 .machr0 {
   stroke: #FEFEFE;
   stroke-width: 7.62
 }

 .machfil7 {
   fill: #E6E7E8
 }

 .machfil5 {
   fill: #D2D3D5
 }

 .machfil3 {
   fill: #606062
 }

 .machfil0 {
   fill: #4B4B4D
 }

 .machfil1 {
   fill: #201E1E
 }

 .machfil2 {
   fill: #0092C1
 }

 .machfil4 {
   fill: #747472
 }

 .machfil6 {
   fill: #B9B9B9
 }

 .machfil8 {
   fill: #CF8E00
 }

 .machfil9 {
   fill: #FEFEFE;
   fill-rule: nonzero
 }

 .machfil1 {
   fill: #373435;
   fill-rule: nonzero
 }

 .machfil10 {
   fill: #201E1E;
   fill-rule: nonzero
 }



 .strline0 {
   stroke: #FEFEFE;
   stroke-width: 20
 }

 .strline2 {
   stroke: #FEFEFE;
   stroke-width: 25
 }


 .strline1 {
   stroke: #373435;
   stroke-width: 20
 }

 .linefil1 {
   fill: #FEFEFE
 }

 .linefil3 {
   fill: #544A6B
 }

 .linefil5 {
   fill: #727376
 }

 .linefil0 {
   fill: #373435
 }

 .linefil2 {
   fill: #292040
 }

 .bordesvg {
   fill: #FEFEFE
 }

 .linefil4 {
   fill: #402580
 }

 .linefil5 {
   fill: #544A6B
 }

 .linefil8 {
   fill: #671952
 }

 .linefil9 {
   fill: #B0BED7
 }

 .linefil6 {
   fill: #B0BED7
 }

 .linefil7 {
   fill: #FFE7BD
 }

 .linefil11 {
   fill: #FEFEFE;
   fill-rule: nonzero
 }

 .linefil0 {
   fill: #373435;
   fill-rule: nonzero
 }

 .linefil2 {
   fill: #373435;
   fill-rule: nonzero
 }


 .cls-1 {
   fill: #363435;
 }


 .cls-5,
 .cls-6 {
   /*/ fill-rule: evenodd;*/
   cursor: not-allowed;
 }

 .cls-2 {
   fill: #949899;
   stroke: #363435;
   stroke-width: 3px;
 }

 .cls-2,
 .cls-5 {
   stroke-linejoin: round;
 }

 .cls-3 {
   fill: #747472;
   filter: url(#filter);
 }

 .cls-4,
 .cls-8 {
   fill: #fff;
 }

 .cls-5 {
   fill: #4b4b4d;
   stroke: #fff;
   stroke-width: 1px;
 }

 .cls-6 {
   fill: #a12120;
 }

 .cls-7,
 .cls-8 {
   font-size: 37.5px;
   text-anchor: middle;
 }

 .cls-8 {
   font-family: Ebrima;
 }


 /**/
 .LINR3 {
   stroke: #201E1E;
   stroke-width: 75
 }

 .LINR2 {
   stroke: #E6E7E8;
   stroke-width: 20
 }

 .LINR0 {
   stroke: #FEFEFE;
   stroke-width: 7.62
 }

 .LINR4 {
   stroke: #BBBBBB;
   stroke-width: 7.62
 }

 .LINR1 {
   stroke: #FEFEFE;
   stroke-width: 7.62
 }

 .lineas6 {
   fill: #FEFEFE
 }

 .lineas1 {
   fill: #00AFEF
 }

 .lineas0 {
   fill: #201E1E
 }

 .lineas3 {
   fill: #0092C1
 }

 .lineas2 {
   fill: #201E1E
 }

 .lineas9 {
   fill: #4B4B4D
 }

 .lineas4 {
   fill: #606062
 }

 .lineas5 {
   fill: #747472
 }

 .lineas7 {
   fill: #B29307
 }

 .lineas12 {
   fill: #BBBBBB
 }

 .lineas8 {
   fill: #E6E7E8
 }

 .lineas11 {
   fill: #373435;
   fill-rule: nonzero
 }

 .lineas10 {
   fill: #FEFEFE;
   fill-rule: nonzero
 }


 /*ultimo svg*/
 .cls-1 {
   fill: #515151;
 }

 .cls-1,
 .cls-10,
 .cls-2,
 .cls-9 {
   stroke: #515151;
   stroke-miterlimit: 10;
 }

 .cls-11,
 .cls-2 {
   fill: #fff;
 }

 .cls-3 {
   fill: #303030;
 }

 .cls-4 {
   fill: #bbd6f2;
 }

 .cls-5 {
   fill: #b2b2b2;
 }

 .cls-15,
 .cls-6 {
   fill: #c69b30;
 }

 .cls-7 {
   fill: #111110;
 }

 .cls-8 {
   font-size: 22.99px;
   fill: #fcfcfc;
 }

 .cls-11,
 .cls-12,
 .cls-13,
 .cls-15,
 .cls-8 {
   font-family: MyriadPro-Regular,
     Myriad Pro;
 }

 .cls-9 {
   fill: #020202;
 }

 .cls-10 {
   fill: none;
 }

 .cls-11 {
   font-size: 23.06px;
 }

 .cls-12 {
   font-size: 58.5px;
   fill: #2e5fd8;
 }

 .cls-13,
 .cls-15 {
   font-size: 24.38px;
 }

 .cls-13 {
   fill: #6d6d6d;
 }

 .cls-14 {
   letter-spacing: -0.08em;
 }

 .clsvg0 {
   fill: #303030;
   stroke: #303030;
   stroke-miterlimit: 10;
 }

 .clsvg1 {
   fill: #F7F7F7;
   stroke: #303030;
   stroke-miterlimit: 10;
 }

 .clsvg2 {
   fill: #303030;
 }

 .clsvg3 {
   fill: #BBD6F2;
 }

 .clsvg4 {
   fill: #B2B2B2;
 }

 .clsvg5 {
   fill: #C69B30;
 }

 .clsvg6 {
   fill: #111110;
 }

 .clsvg7 {
   fill: #FCFCFC;
 }

 .clsvg8 {
   font-family: 'ArialMT';
 }

 .clsvg9 {
   font-size: 24.028px;
 }

 .clsvg10 {
   fill: none;
   stroke: #515151;
   stroke-miterlimit: 10;
 }

 .clsvg11 {
   fill: #6D6D6D;
 }

 .clsvg12 {
   font-size: 24.3812px;
 }

 .clsvg13 {
   letter-spacing: -1.1;
 }




 .tulcan2 {
   stroke: #E6E7E8;
   stroke-width: 7.87;
   stroke-miterlimit: 22.9256
 }

 .tulcan0 {
   stroke: #FEFEFE;
   stroke-width: 3;
   stroke-miterlimit: 22.9256
 }

 .tulcan1 {
   stroke: #FEFEFE;
   stroke-width: 3;
   stroke-miterlimit: 22.9256
 }

 .tulcanfila5 {
   fill: #FEFEFE
 }

 .tulcanfila1 {
   fill: #A9ABAE
 }

 .tulcanfila2 {
   fill: #52658C
 }

 .tulcanfila0 {
   fill: #201E1E
 }

 .tulcanfila3 {
   fill: #201E1E
 }

 .tulcanfila8 {
   fill: #4B4B4D
 }

 .tulcanfila4 {
   fill: #747472
 }

 .tulcanfila6 {
   fill: #B29307
 }

 .tulcanfila7 {
   fill: #E6E7E8
 }

 .tulcanfila9 {
   fill: #FEFEFE;
   fill-rule: nonzero
 }

 .tulcanfnt1 {
   font-weight: bold;
   font-size: 466.01px;
   font-family: 'Montserrat'
 }

 .tulcanfnt0 {
   font-weight: bold;
   font-size: 553.28px;
   font-family: 'Montserrat'
 }

 .strumi11 {
   stroke: #FEFEFE;
   stroke-width: 29.53;
   stroke-miterlimit: 2.61313
 }

 .strumi0 {
   stroke: #96989A;
   stroke-width: 7.87;
   stroke-miterlimit: 2.61313
 }

 .rumi3 {
   fill: #213858
 }

 .rumi8 {
   fill: #373435
 }

 .rumi6 {
   fill: #4494D3
 }

 .rumi11 {
   fill: #4B4B4D
 }

 .rumi4 {
   fill: #4E76B8
 }

 .rumi7 {
   fill: #84716B
 }

 .rumi1 {
   fill: #96989A
 }

 .rumi5 {
   fill: #9D98CA
 }

 .rumi9 {
   fill: #A9ABAE
 }

 .rumi0 {
   fill: #BDBFC1
 }

 .rumi10 {
   fill: #E6E7E8
 }

 .rumi2 {
   fill: #FEFEFE
 }

 .rumi13 {
   fill: #FEFEFE;
   fill-rule: nonzero
 }

 .rumi12 {
   fill: #FEFEFE;
   fill-rule: nonzero
 }

 .stpath0 {
   fill: #FAF7D7;
 }

 .stpath1 {
   fill: #F4A417;
 }

 .stpath2 {
   fill: #E58007;
 }

 .stpath4 {
   fill: #A68B18;
 }

 .stpath6 {
   fill: #525655;
 }

 .stpath8 {
   fill: none;
   stroke: #F6AF33;
   stroke-width: 3;
   stroke-miterlimit: 10;
 }

 .stpath9 {
   fill: #B1B1B1;
 }

 .stpath10 {
   clip-path: url(#SVGID_00000086673032576179575450000010463235739957249207_);
   fill: #E9D892;
 }

 .stpath11 {
   opacity: 0.49;
   clip-path: url(#SVGID_00000155850120322819277600000009719520586754723988_);
 }

 .stpath12 {
   fill: none;
   stroke: #7A6A58;
   stroke-width: 2;
   stroke-miterlimit: 10;
 }

 .stpath13 {
   fill: #F8FAF9;
 }

 .stpath14 {
   fill: #E4E4E4;
 }

 .stpath15 {
   clip-path: url(#SVGID_00000055696280677487499200000008605892845894403727_);
 }

 .stpath16 {
   fill: #E4E4E4;
   stroke: #C4C4C3;
   stroke-width: 2;
   stroke-miterlimit: 10;
 }

 .st17 {
   clip-path: url(#SVGID_00000183959743465281368860000017086736598618832807_);
   fill: none;
   stroke: #C79B66;
   stroke-width: 7;
   stroke-miterlimit: 10;
 }

 .st18 {
   clip-path: url(#SVGID_00000163073667195004321950000009702627244023847356_);
   fill: #FFFFFF;
   stroke: #683B11;
   stroke-width: 2;
   stroke-miterlimit: 10;
 }

 .st19 {
   clip-path: url(#SVGID_00000047045078045599014680000013447741629953879482_);
   fill: #B1B1B1;
   stroke: #FFFFFF;
   stroke-width: 2;
   stroke-miterlimit: 10;
 }

 .st20 {
   clip-path: url(#SVGID_00000175314855735219104020000005913684140795901334_);
   fill: #B1B1B1;
 }

 .st21 {
   clip-path: url(#SVGID_00000102532346674645664100000006619849320947635877_);
   fill: none;
   stroke: #F6AF33;
   stroke-width: 5;
   stroke-miterlimit: 10;
 }

 .st22 {
   fill: none;
   stroke: #6F6F6E;
   stroke-width: 2;
   stroke-miterlimit: 10;
 }

 .st23 {
   fill: #E00613;
 }

 .st24 {
   fill: #FFFFFF;
 }

 .st25 {
   fill: #35A6DE;
 }

 .st26 {
   fill: #1D1D1B;
 }

 .st27 {
   fill: #FFEA00;
 }

 .st28 {
   fill: none;
 }

 .st29 {
   fill: #E3007E;
 }

 .st30 {
   font-family: 'ArialMT';
 }

 .st31 {
   font-size: 19.4603px;
 }

 .st32 {
   font-family: 'BerlinSansFBDemi-Bold';
 }

 .st33 {
   font-size: 38.9202px;
 }

 .st34 {
   font-size: 38.9204px;
 }

 .st35 {
   font-size: 38.9205px;
 }

 .st36 {
   font-size: 38.9207px;
 }

 .st37 {
   font-size: 38.9203px;
 }

 .st38 {
   font-size: 38.9206px;
 }

 .st39 {
   fill: #00FF00;
 }

 .st40 {
   fill: #FFFF00;
 }

 .st41 {
   fill: #AE812B;
 }

 .st42 {
   fill: #8E0300;
 }

 .st43 {
   fill: #F0EFE6;
 }

 .st44 {
   fill: #131512;
 }

 .st45 {
   fill: #900C00;
 }

 .st46 {
   fill: #808080;
 }

 .st47 {
   fill: #1D4E55;
 }

 .st48 {
   fill: none;
   stroke: #8E0300;
   stroke-width: 22;
   stroke-miterlimit: 10;
 }

 .st49 {
   fill: #BA7B15;
 }

 .st50 {
   fill: #606060;
 }

 .st51 {
   fill: #900C00;
   stroke: #AE812B;
   stroke-width: 8;
   stroke-miterlimit: 10;
 }

 .st52 {
   fill: #8E0300;
   stroke: #8E0300;
   stroke-width: 7;
   stroke-miterlimit: 10;
 }

 .st53 {
   fill-rule: evenodd;
   clip-rule: evenodd;
   fill: #FFFFFF;
 }

 .st54 {
   fill-rule: evenodd;
   clip-rule: evenodd;
   fill: #1D4E55;
 }

 .st55 {
   fill-rule: evenodd;
   clip-rule: evenodd;
   fill: #82716B;
 }

 .st56 {
   fill-rule: evenodd;
   clip-rule: evenodd;
   fill: #FFFFFF;
   stroke: #FFFFFF;
   stroke-width: 0.4997;
   stroke-miterlimit: 10;
 }

 .st57 {
   fill-rule: evenodd;
   clip-rule: evenodd;
   fill: #FCFCFC;
 }