#estandar path.none {
  fill: rgb(148, 152, 152);
}

polygon.none {
  fill: rgb(148, 152, 152);

}

:root {
  --swiper-navigation-color: #000000;
}

rect.none {
  fill: rgb(148, 152, 152)
}

#grado {
  fill: rgb(148, 152, 152);
  cursor: pointer;
}

svg.opciones {
  fill: rgb(148, 152, 152);
}

path.opciones {
  fill: rgb(148, 152, 152);
}

path.mapas {
  fill: rgb(148, 152, 152);
}

@media (min-width: 800px) {
  .precios:hover {
    cursor: pointer;
    transform: scale(1.3);
    padding: 5px;
  }
}

.precios {
  cursor: pointer;
}

polygon.disponible:hover {
  transform: scale(1.01);
  cursor: pointer;
}

rect.disponible:hover {
  transform: scale(1.01);
  cursor: pointer;
}

path.disponible:hover {
  cursor: pointer;
  transform: scale(1.01);
}

/*.str2 {stroke:#FEFEFE;stroke-width:20}
    .str1 {stroke:#E6E7E8;stroke-width:20}
    .str0 {stroke:#373435;stroke-width:7.62}
    .fil0 {fill:none}
    .fil2 {fill:#373435;fill-rule:nonzero}
    .fil1 {fill:#373435;fill-rule:nonzero}*/